<div id="tic-tac-toe-main">
    <main>
        <div id="logo-container">
            <img id="logo" src="http://localhost:3000/images/ticTacToe.png">
        </div>
        <div id="form-container">
            <form id="form" autocomplete="off">
                <div id="username-container" class="center">
                    <div>
                        <input id="username" type="text" placeholder="Username">
                        <div id="username-error"></div>
                    </div>
                </div>
                <div id="find-player-container" class="center">
                    <button id="find-player-btn" type="submit">Find Player</button>
                </div>
            </form>
        </div>
    </main>
</div>
<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        let username = e.target.elements.username.value;
        // console.log('val:'+username);
        socket.auth = { username };
        console.log('what does socket connect return');
        console.log(socket.connect());
        console.log('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
        socket.emit('join-session',{});
    });
    socket.on('load-room-session',({sessionID,userID,username,roomID})=>{
        socket.auth={ sessionID };
        localStorage.setItem('tttSessionID',sessionID);
        document.cookie='tttSessionID='+sessionID;
        localStorage.setItem('tttRoomID',roomID);
        document.cookie='tttRoomID='+roomID;
        socket.userID={ userID };
        socket.username={ username };

        const url = window.location.pathname;
        if(url == '/'){
            window.location.href = '/'+roomID;
        }
    });
</script>
<script src="../js/room/clientError.js"></script>
