<!DOCTYPE html>
<html>
    <head>
        <title>LAYOUTS</title>
        <link href="css/tictactoe-main.css" rel="stylesheet" type="text/css"/>
        <link href="css/global.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style="margin:0 auto;">
        <script src="/socket.io/socket.io.js"></script>
        <script>

            const URL = "http://localhost:3000";
            const socket = io(URL,{ autoConnect: false});

            // reconnection
            function load(){
                console.log('load'+window.location.pathname);
                const session= localStorage.getItem('sessionID');
                console.log(session);
                if(session){
                    socket.auth={session}
                    socket.connect();
                }
            }
            load();
 
        </script>
        <%- body %>
    </body>
</html>

