<!DOCTYPE html>
<html>
    <head>
        <title>LAYOUTS</title>
        <link href="css/tictactoe-main.css" rel="stylesheet" type="text/css"/>
        <link href="css/tictactoe-room.css" rel="stylesheet" type="text/css"/>
        <link href="css/global.css" rel="stylesheet" type="text/css"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body style="margin:0 auto;">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const URL = "http://localhost:3000";
            const socket = io(URL,{ autoConnect: false});

            // reconnection
            function load(){
                console.log('load'+window.location.pathname);
                const session= localStorage.getItem('sessionID');
                console.log(session);
                if(session){
                    socket.auth={session}
                    socket.connect();
                }
            }
            load();
 
        </script>
        <%- body %>
    </body>
</html>


