main{
    width:100vw; height: 90vh;
    display: flex;
}
/* main containers:
    player-one-container
    tic-tac-toe-container
    player-two-container
*/
#player-one-container{
    min-height: 536px; 
    width:25%; height: 100%;
}
#tic-tac-toe-container{
    min-height: 536px; 
    width:50%; height:100%;
}
#player-two-container{
    min-height: 536px; 
    width:25%; height: 100%;
}
/* player-one-container children*/
#player-one-image-container{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 190px;
    width:100%; height: 80%;
    outline: 1px solid white;
    color:blue;
}
#player-one-name-container{
    min-height: 110px;
    width:100%; height: 20%;
    outline: 1px solid rgb(199, 199, 199);
    color:white;
}
/* END of player-one-container children END*/
/* tic tac toe container children */
#ttt-board-container{
    width:100%; height: 80%;
    outline: 2px solid rgb(199, 199, 199);
}
#ttt-board{
    width:80%; height: 80%;
}
.ttt-rows{
    width:100%; height: 33.33%;
    display: flex;
}
#ttt-row-1,#ttt-row-2{
    border-bottom:4px solid white;
}
.ttt-boxes{
    width:33.33%; height: 100%;
    background-color: slategray;
}
#ttt-box-1,#ttt-box-2,#ttt-box-4,#ttt-box-5,#ttt-box-7,#ttt-box-8{
    border-right:4px solid white;
}

#ttt-player-turn-container{
    min-height: 110px;
    width:100%; height: 20%;
    color:white;
}
/* END of tictactow container children END */

/* player-two-container children*/
#player-two-image-container{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 190px;
    width:100%; height: 80%;
    outline: 1px solid white;
    color:springgreen;
}
#player-two-name-container{
    min-height: 110px;
    width:100%; height: 20%;
    outline: 1px solid white;
    color:white;
}
/* END of player-two-container children END*/

@media (min-width: 680px) {
    #tic-tac-toe-player-info-container-mobile{
        display: none;
    }
}

/* max 850 past */
@media (max-width: 680px) {
    /* remove player-(one/two)-containers */
    #player-one-container{
        display: none;
        width:0; height: 0;
    }
    #player-two-container{
        display: none;
        width:0; height: 0;
    }
    #ttt-player-turn-container{
        display: none;
    }
    main{display: block;}
    /* main container are now 
     #tic-tac-toe-container & #tic-tac-toe-player-info-container-mobile
    */
    #tic-tac-toe-container{
        width:100% !important; height:80% !important;
    }
    #tic-tac-toe-player-info-container-mobile{
        min-height: 110px;
        width:100%; height: 20%;
        display: flex;
        color:white;
        outline:1px solid white;
    }
    #ttt-board-container{
        height: 100%;
    }
    /* tic-tac-toe-player-info-container-mobile children */
    #player-one-container-mobile{
        height: 100%; width:33.33%;
        border-right: 1px solid rgb(255, 255, 255);
    }
    #player-one-name-container-mobile{
        width:100%; height: 100%;
    }
    #player-turn-container-mobile{
        height: 100%; width:33.33%;
        border-right: 1px solid rgb(255, 255, 255);
    }
    #player-two-container-mobile{
        height: 100%; width:33.33%;
    }
    #player-two-name-container-mobile{
        width:100%; height: 100%;
    }
    
}

/* min 850 onward */
@media (max-width: 1000px) {
    #player-one-container{
        width:20%; height: 100%;
    }
    #tic-tac-toe-container{
        width:60%; height:100%;
    }
    #player-two-container{
        width:20%; height: 100%;
    }
}


