/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main{
        display: block;
    }
    /* remove player-(one/two)-containers */
    #player-one-container{
        display: none;
        width:0; height: 0;
    }
    #player-two-container{
        display: none;
        width:0; height: 0;
    }
    #ttt-player-turn-container{
        display: none;
    }
    #tic-tac-toe-container{
        width:100%; height:80% ;
    }
    #ttt-board-container{
        height: 100%;
    }
    #ttt-board{
        width:80%; height: 60%;
    }
    #tic-tac-toe-player-info-container-mobile{
        min-height: 110px;
        width:100%; height: 20%;
        display: flex;
    }
    /* tic tac toe player info container mobile children */
    #player-one-container-mobile{
        height: 100%; width:33.33%;
    }
    #player-one-name-container-mobile{
        width:100%; height: 100%;
        color:white;
        outline:1px solid white;
    }
    #player-turn-container-mobile{
        height: 100%; width:33.33%;
        color:white;
        outline:1px solid white;
    }
    #player-two-container-mobile{
        height: 100%; width:33.33%;
    }
    #player-two-name-container-mobile{
        width:100%; height: 100%;
        color:white;
        outline:1px solid white;
    }



  }