<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <link href="../css/indexStyles/index-style.css" rel="stylesheet">
    </head>
    <body style="margin: 0 auto;">
        <main class="center-content">
            <div id="logo-player-button-container">
                <div id="logo-container" class="center-content">
                    <img id="logo" src="assets/ticTacToe.png">
                </div>
                <div id="find-player-button-container">
                    <button><a href="/room/2">Find Player</a></button>
                </div>
            </div>
        </main>      
    </body>
</html>
